@{
    ViewData["Title"] = "Meus Pedidos";
}

<div class="container">
  <div class="jumbotron">
    <h1 class="text-blue">Teste Desenvolvedor Web</h1> 
    <br/>
    <br/>
    <p><a class="btn btn-primary btn-lg" href="/survey" role="button">Iniciar Teste</a></p>
  </div>

</div>

<div class="row">
   
</div>
